* {
  box-sizing: content-box;
}

.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.country-flag {
  width: 60px;
}

.landing-page {
  position: absolute;
}

.mapa {
  position: relative;
}
