.__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    height: 90px;
    border-bottom: 1px solid black;
}

.__logo {
    width: 120px;

}

.__search {
    margin: 40px;
}

